/* ------------------------------------------- */
/* 1. FONT-FACE: IBM Plex Sans Thai (Local Loading - 7 Weights) */
/* ------------------------------------------- */

/* Bold (700) */
.ibm-plex-sans-thai-thin {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-thai-extralight {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-thai-light {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-thai-regular {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-thai-medium {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-thai-semibold {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-thai-bold {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------------- */
/* 2. GLOBAL STYLES (กำหนดให้ฟอนต์ใช้งาน) */
/* ------------------------------------------- */

/* กำหนดให้ฟอนต์ IBM Plex Sans Thai เป็นฟอนต์หลักของ Body */
body {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

/* เพื่อให้แน่ใจว่า Element อื่นๆ ใช้ฟอนต์เดียวกัน */
* {
  font-family: "IBM Plex Sans Thai", sans-serif;
}
/* ------------------------------------------- */

.navbar .dropdown-menu {
  position: absolute !important;
  z-index: 1000; /* ให้แน่ใจว่าอยู่บนสุด */
}

@media (min-width: 768px) {
  .sidebar {
    min-height: 100vh;
  }
}
