/*
 * ต้องทำซ้ำสำหรับทุก Weight ที่คุณต้องการใช้ (100, 200, 300, 400, 500, 600, 700)
 * ตัวอย่างนี้แสดงสำหรับ Weight 400 (Regular) และ 700 (Bold)
 */

/* --- IBM Plex Sans Thai Light (300) --- */
@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../../assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Light.woff2")
      format("woff2"),
    url("../../assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

/* --- IBM Plex Sans Thai Regular (400) --- */
@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../../assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Regular.woff2")
      format("woff2"),
    url("../../assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

/* --- IBM Plex Sans Thai Bold (700) --- */
@font-face {
  font-family: "IBM Plex Sans Thai";
  src: url("../../assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Bold.woff2")
      format("woff2"),
    url("../../assets/fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
}
